

<c:choose>
    <c:when test="${not empty loggedInUser}">
        <form id="logout-form" action="controller" method="post">
            <input type="hidden" name="command" value="logout"/>
            <input type="submit" class="header-option" id="logoutButton" value="Logout"/>
        </form>
    </c:when>

</c:choose>


<div id="footer">
    <p><%= new java.util.Date() %></p>
</div>