body {
    padding-top: 70px;
    color: #00111a;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}

#header {
    width: calc(100% - 20px);
    height: 50px;
    line-height: 10px;
    background-color: #1C7BBF;
    border-bottom: 3px outset silver;
    padding: 0 10px 14px;
    color: #CCC;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo {
    width: 60px;
    padding: 5px;
    float: left;
}

#footer {
    text-align: center;
    width: calc(100% - 20px);
    height: 50px;
    margin-top: 20px;
    background-color: #00111a;
    border-top: 3px ridge silver;
    padding: 0 10px 10px;
    color: silver;
    position: absolute;
    bottom:0;
    left:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

#login {
    width: 320px;
    border: 2px groove #0099e6;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin: auto;
    top: 35%;
    padding: 0 13px;
    position: relative;
}

.block-title {
    margin: 8px 0;
    text-align: center;
    color: #00334d;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 35px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-size: 1em;
}

input[type=submit] {
    width: 100px;
    padding: 14px 20px;
    margin: 5px 0 0;
    border: none;
    border-radius: 4px;
    background-color: #67B2EF;
    color: white;
}

input[type=submit]:hover, input[type=submit]:focus {
    background-color: #5694C4;
}